<template>
  <div class="bg-grey-2">
    <q-banner inline-actions>
      <template #avatar>
        <q-avatar
          size="xl"
          color="blue"
          rounded
        >
        </q-avatar>
      </template>
      <q-chip>{{ user.name }}</q-chip><br>
      <q-badge
        color="transparent"
        text-color="dark"
      >{{ user.money }}</q-badge>
      <q-icon
        class="q-ml-sm"
        name="fas fa-money-bill-wave"
        color="green-14"
      />
      <template #action>
        <q-btn
          flat
          to="/"
        >Daily Login</q-btn>
        <q-btn
          flat
        to="lucky-spin"
        >Lucky Spin</q-btn>
        <q-btn
          flat
        to="card"
        >Pick A Card</q-btn>
      </template>
    </q-banner>
    <q-separator />
    <div class="row">
      <div class="col">
        <!-- <Notification :newNoti="newNoti"></Notification> -->
      </div>
      <div class="col-8">
        <!-- <router-view 
        :money="user.money"
        @moneyChanged="updateMoney($event)"
        /> -->
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</template>

<script>
import Notification from 'pages/game-pages/Notification.vue'
export default {
  name: 'MainLayout',
  components: { 
    Notification
     },
  data () {
    return {
      user: {
        name: 'Phạm Trung Hiếu',
        picture: '../../assets/quasar-logo-full.svg',
        money: 0//(this.getCookie('userMoney')) ? parseInt(this.getCookie('userMoney')) : 1000000,
      },
      newNoti: [
        'Player Something have won the lottery with lucky number 54004',
        'You have gain 1000',
        'You have loose 2000',
      ],
    }
  },
  methods: {
    /*updateMoney (newMoney) {
      this.user.money = newMoney;
      this.setCookie('userMoney', newMoney, 7);
    }*/
  }
}
</script>

