<template>
  <div class="bg-blue-2 q-pa-sm">
    <div class="text-center text-h6">Quân bài may mắn</div>
    <div class="row">
      <q-input
        type="number"
        v-model="bet"
        :rules="[(val)=>{if(val>cardMoney) return 'Bạn không đủ tiền!'}]"
      >
        <template v-slot:prepend>
          Tiền cược:
        </template>
        <template v-slot:append>
          <q-icon
            class="q-ml-sm"
            name="fas fa-money-bill-wave"
            color="green-14"
          />
        </template>
      </q-input>
    </div>
    <div class="row">
      <q-btn-dropdown
        class="col"
        :label="'Mode: '+mode"
      >
        <q-btn
          class="q-mx-lg full-width"
          flat
          @click="mode='color'; guess='red'; rate=2"
        >Đoán màu
          <q-tooltip anchor="center right">1 ăn 2</q-tooltip>
        </q-btn><br>
        <q-btn
          class="q-mx-lg full-width"
          flat
          @click="mode='type'; guess='fas fa-heart'; rate=4"
        >Đoán chất
          <q-tooltip anchor="center right">1 ăn 4</q-tooltip>
        </q-btn><br>
        <q-btn
          class="q-mx-lg full-width"
          flat
          @click="mode='number'; guess=1; rate=12"
        >Đoán số
          <q-tooltip anchor="center right">1 ăn 12</q-tooltip> 
        </q-btn><br>
      </q-btn-dropdown>
      <div class="col">
      <div
        v-if="mode=='color'"
      >
        <q-btn-dropdown :label="'Guess: '+guess">
          <q-btn
            @click="guess='red'"
            color="red"

          >Đỏ</q-btn>
          <q-btn
            @click="guess='black'"
            color="black"
            class="float-right"
          >Đen</q-btn>
        </q-btn-dropdown>
      </div>
      <div
        v-if="mode=='type'"
      >
        <q-btn-dropdown
          :label="'nằm ở đâu?'"
          :icon="guess"
        >
          <q-btn
            @click="guess='fas fa-heart'"
            icon="fas fa-heart"
            color="red"
          />
          <q-btn
            @click="guess='fas fa-gem'"
            color="red"
            icon="fas fa-gem"
          />
          <q-btn
            @click="guess='fas fa-caret-square-up'"
            color="black"
            icon="fas fa-caret-square-up"
          />
          <q-btn
            @click="guess='fas fa-cubes'"
            color="black"
            icon="fas fa-cubes"
          />
        </q-btn-dropdown>
      </div>
      <div
        v-if="mode=='number'"
      >
        <q-input
          class="q-mx-sm"
          type="number"
          v-model="guess"
          dense
        >
          <template v-slot:prepend>
            Số bạn chọn:
          </template>
        </q-input>
      </div>
      </div>
      <div class="col"><q-icon :name="feedback.icon" :color="feedback.iconColor" class="q-mx-sm"/>{{feedback.content}}</div>
      <q-btn
      class="col-2"
      @click="showAll()"
      label="Tạo mới" />
    </div>
    <br>
    <q-separator />
    <CardsFlip ref="cards" @flipped="flipped($event)"></CardsFlip>
  </div>
</template>

<script>
import CardsFlip from './CardsFlip.vue'
export default {
  components: {
    CardsFlip
  },
  props: {
    money: Number
  },
  data () {
    return {
      cardMoney: this.money,
      bet: 5000,
      mode: 'color',
      rate: 2,
      guess: 'red',
      fuck: 0,
      feedback:{
        iconColor: '',
        icon: '',
        content: ''
      }
    }
  },
  methods: {
    flipped (card) {
      this.cardMoney = this.cardMoney - this.bet;
      if (card[this.mode] == this.guess) {
        this.cardMoney = this.cardMoney + this.bet * this.rate;
        this.feedback = {
          iconColor: 'green',
          icon: 'far fa-grin-squint',
          content: 'Đoán đúng rồi!'
        }
      } else{
        this.feedback = {
          iconColor: 'red',
          icon: 'far fa-sad-cry',
          content: 'Đoán sai rồi!'
        }
      };
      this.$emit('moneyChanged', this.cardMoney);
    },
    showAll(){
      this.$refs.cards.showAll();
    }
  },
}
</script>

<style>
</style>