<template>
  <div class="q-my-sm">
    <div class="row">
      <div
        class="col q-my-sm"
        :title="counter"
        v-for="card in cards"
        :key="card.id"
      >
        <div
          @click="flip(card.id)"
          :style="{'width':'80px', 'height':'100px', 'margin': '0 auto', 'pointer-events': clickable}"
        >
          <q-img src="../../assets/card-back.jpg" class="fit"/>
          <q-menu
            v-model="show[card.id]"
            anchor="top left"
            transition-show="flip-right"
            transition-hide="flip-left"
            persistent
          >
            <q-btn
              style="width:80px; height:100px"
              :icon="card.type"
              :text-color="card.color"
            >{{card.number}}</q-btn>
          </q-menu>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  created () {
    this.shuffle();
  },
  data: () => {
    return {
      types: ['fas fa-heart', 'fas fa-gem', 'fas fa-caret-square-up', 'fas fa-cubes'],
      cards: [],
      counter: 0,
      show: [],
      clickable: '',
    }
  },
  methods: {
    shuffle () {
      for (var i = 0; i < 4; i++) {
        this.cards[i] = {
          id: i,
          number: 0,
          color: 'black',
          type: ''
        };
        this.cards[i].number = parseInt(Math.random() * 12 + 1);
        this.cards[i].type = this.types[parseInt(Math.random() * 4)];
        this.show[i] = false;
        (this.cards[i].type == 'fas fa-heart' || this.cards[i].type == 'fas fa-gem') ? this.cards[i].color = "red" : '';
      }
      this.counter++;
    },
    flip (id) {
      this.clickable = 'none';
      this.$emit('flipped', this.cards[id]);
      setTimeout(() => {
        this.showAll(id);
      }, 1500);
    },
    showAll (id) {
      for (var i = 0; i < 4; i++) {
        (i != id) ? this.show[i] = true : '';
      }
      this.counter++;
      setTimeout(() => {
        for (var i = 0; i < 4; i++) {
          this.show[i] = false;
        }
        this.shuffle();
        this.clickable = '';
        this.$parent.feedback = {
          icon:'',
          content: ''
        }
      }, 1000)
    }
  }
}
</script>

<style>
</style>