<template>
  <div>
    <h5 class="text-center"> Đăng nhập hằng ngày </h5>
    <Login @checked="dailyMoney += $event*100000"/>
    <h5 class="text-center"> Con số may mắn </h5>
    <div class="row">
      <div class="col">Số may mắn của bạn: {{ betNumber }}</div>
      <div class="col">Số trúng giải hôm qua: {{ lastSpecialNumber }}</div>
    </div>
    <q-expansion-item 
    class="bg-pink-1"
    label="Không thích số này? Hãy đổi số mới!">
      <q-input
        type="number"
        v-model.lazy="bet"
        @blur="setCookie('bet' + today, bet, 2)"
      >
        <template v-slot:prepend>
          Tiền cược:
        </template>
        <template v-slot:append>
          <q-icon
            class="q-ml-sm"
            name="fas fa-money-bill-wave"
            color="green-14"
          />
        </template>
      </q-input>
      <q-input
        type="number"
        v-model.lazy="betNumber"
        @blur="setCookie(today, betNumber, 2)"
        :rules="[(val)=>{if(val.toString().length != 5) return 'phải có 5 kí tự'}]"
      >
        <template v-slot:prepend>
          Số may mắn mới:
        </template>
      </q-input>
    </q-expansion-item>
  </div>
</template>

<script>
import Login from './Login'
import getApi from '../../router/getApi'
export default {
  components: {
    Login
  },
  props: {
    money: Number
  },
  data () {
    return {
      dailyMoney: 0,
      today: 0,
      bet: 0,
      betNumber: 0,
      lastSpecialNumber: 0
    }
  },
  created () {
    this.dailyMoney = this.money;
    this.today = new Date().getDate();
    if (!this.getCookie(this.today)) {
      var rand = parseInt(Math.random() * 1000000);
      while (rand < 10000 || rand > 99999) rand = parseInt(Math.random() * 1000000);
      this.betNumber = rand;
      this.setCookie(this.today, rand, 2);
    }else{
      this.betNumber = this.getCookie(this.today);
    }
    if (this.getCookie('bet' + this.today)) {
      this.bet = this.getCookie('bet' + this.today);
    }
    this.checkNumber();
  },
  methods: {
    reset () {
      this.dailyMoney++;
    },
    checkNumber () {
      var serverDomain = ""; // (isQuasarDev) ? 'http://127.0.0.1:8000/' : ''
      getApi(serverDomain + 'api/lottery').then((num) => {
        this.lastSpecialNumber = num;
        if (num == this.getCookie(this.today)){
          alert('Trúng số rồi!!!');
          this.dailyMoney += (this.bet + 100000) * 70;
          this.$emit('moneyChanged', this.dailyMoney);
        };
      }).catch((err) => {
        console.log(err);
      })
    },
  },
}
</script>

<style>
</style>