<template>
  <div class="row">
    <div
      class="col"
      v-for="i in 7"
      :key="i"
    >
      <q-btn
        :class="['login-col', 
        {'checked disabled': checked[i] == 1}, 
        {'bg-yellow': checked[i] == 0}, 
        {'bg-grey disabled': checked[i] == -1}]"
        @click="check(i)"
      >{{ i }} mil
        <q-icon
          class="q-ml-xs"
          name="fas fa-money-bill-wave"
          color="green-14"
        />
      </q-btn>
    </div>
  </div>
</template>

<script>
export default {
  created () {
    this.today = new Date();
    this.today = this.today.getDate();
    var checkStreak = this.getCookie('checked');
    var haventChecked = this.getCookie('haventChecked' + this.today);
    if (!haventChecked) this.setCookie('haventChecked' + this.today, 1, 2);
    for (var i = 1; i <= 7; i++) {
      if (i <= checkStreak) this.checked[i] = 1;
      else if (i - 1 == checkStreak) {
        if (haventChecked == 1) {
          this.checked[i] = 0;
        }
        else this.checked[i] = -1;
      }
      else this.checked[i] = -1;
    }
  },
  data () {
    return {
      today: 0,
      checked: [],
    }
  },
  methods: {
    check (i) {
      this.setCookie('checked', i, 7);
      (i == 7) ? i = 0 : '';
      this.setCookie('haventChecked' + this.today, 0, 2);
      this.checked[i] = 1;
      this.$emit('checked', i);
      this.$forceUpdate();
    }
  }
}
</script>

<style>
.login-col {
  border: 1px solid;
}
.checked {
  color: red;
}
</style>