<template>
  <div>
    <q-banner>
      <span class="text-h6 text-blue">Noti</span>
      <q-badge
        color="red"
        align="top"
      >{{newNoti.length}}</q-badge>
      <q-menu>
        <q-banner
          v-for="n in newNoti"
          :key="n"
        >{{n}}</q-banner>
      </q-menu>
    </q-banner>
  </div>
</template>

<script>
export default {
  props: {
    newNoti: Array
  },
}
</script>

<style>
</style>