<template>
    <div>
      <div
        :title="counter"
        class="row text-center"
        v-for="i in 3"
        :key="i.id"
      >
        <div
          class="col row items-center justify-content-center"
          v-for="j in 4"
          :key="j.id"
        >
          <div
            v-if="i!=2||j!=3&&j!=2"
            :class="[
            'prize col q-ma-xl', 
            { 'bg-orange-14': prizeTrigger[4*i-4+j] },
            (prizes[4*i-4+j] > 50) ? 'text-orange-4' : 
            (prizes[4*i-4+j] > 10) ? 'text-blue-8' : 'text-green-6'
            ]"
          >
            {{ prizes[4*i-4+j] }} 000
          </div>
          <div
            v-else
            class="col"
          >
            <q-btn
              @click="refresh()"
              icon="fas fa-sync"
              flat
              text-color="grey"
            ></q-btn>
          </div>
        </div>
      </div>
      <div class="row q-px-xl">
        <q-btn
          @click="spin()"
          class="col"
          glossy
        >
          <q-tooltip anchor="top left">Spin X1</q-tooltip>50 000
          <q-icon
            class="q-ml-sm"
            name="fas fa-money-bill-wave"
            color="green-14"
          />
        </q-btn>
        <div class="col"></div>
        <q-btn
          @click="spinX10()"
          class="col"
          glossy
        >
          <q-tooltip anchor="top left">Spin X10</q-tooltip>450 000
          <q-icon
            class="q-ml-sm"
            name="fas fa-money-bill-wave"
            color="green-14"
          />
        </q-btn>
      </div>
      <q-dialog v-model="dialog">
        <q-card class="full-width text-center">
          <q-card-section>
          Phần thưởng của bạn:
          </q-card-section>
          <q-card-section>
          <div
            v-for="prize in won"
            :key="prize.id"
          ><span :class="(prize > 50) ? 'text-orange-4' : (prize > 10) ? 'text-blue-8' : 'text-green-6'">{{ prize }} 000</span>
            <q-icon
              class="q-ml-sm"
              name="fas fa-money-bill-wave"
              color="green-14"
            />
          </div>
          </q-card-section>
        </q-card>
      </q-dialog>
    </div>
</template>

<script>
export default {
  created () {
    this.refresh();
    this.spinMoney = this.money;
  },
  props: {
    money: Number
  },
  data () {
    return {
      spinMoney: 0,
      value: [1, 2, 5, 10, 20, 50, 100],
      prizes: [],
      prizeTrigger: [],
      won: [],
      dialog: false,
      counter: 0
    }
  },
  methods: {
    refresh () {
      this.counter = 0;
      for (var i = 1; i <= 12; i++) {
        this.prizes[i] = this.value[parseInt(Math.random() * 7)];
      }
      this.spinMoney = this.spinMoney - 1000;
      this.counter++;
    },
    spinEffect (num) {
      var count = 0;
      var interval = setInterval(() => {
        if (count > 1) {
          clearInterval(interval);
          this.dialog = true;
          setTimeout(() => {
            for (var i = 0; i < 14; i++) {
              (this.prizeTrigger[i] == true) ? this.prizeTrigger[i] = false : '';
            }
            this.counter = 0;
          }, 1000);
        }
        this.prizeTrigger[this.counter % 14] = true;
        this.prizeTrigger[this.counter % 14 - 1] = false;
        this.counter++;
        if (this.counter % 14 == num) count++;
      }, 100);
    },
    spin () {
      this.won = [];
      if(this.spinMoney >= 50000){
        this.spinMoney = this.spinMoney - 50000;
        var rand;
        while (rand == undefined || rand == 6 || rand == 7) rand = parseInt(Math.random() * 12 + 1);
        this.won.push(this.prizes[rand]);
        this.spinEffect(rand);
        setTimeout(() => {
          this.spinMoney = this.spinMoney + this.prizes[rand] * 1000;
          this.refresh();
          this.spinMoney = this.spinMoney + 1000;
        }, 2500);
      } else{
        alert('Bạn không đủ tiền!');
      }
    },
    spinX10 () {
      var temp = 0;
      this.won = [];
      if(this.spinMoney >= 450000){
        this.spinMoney = this.spinMoney - 450000;
        for (var i = 0; i < 10; i++) {
          var rand =  parseInt(Math.random() * 12 + 1);
          while (rand == 6 || rand == 7) rand = parseInt(Math.random() * 12 + 1);
          this.won.push(this.prizes[rand]);
          temp = temp + this.prizes[rand];
        }
        this.spinEffect(rand);
        setTimeout(() => {
          this.spinMoney = this.spinMoney + temp * 1000;
          this.refresh();
          this.spinMoney = this.spinMoney + 1000;
        }, 2500);
      } else{
        alert('Bạn không đủ tiền!');
      }
    },
  },
  watch: {
    spinMoney () {
      this.$emit('moneyChanged', this.spinMoney);
    }
  }
}
</script>

<style>
.prize {
  border-radius: 5% 5% 5% 5%;
  height: 50%;
  box-shadow: 5px 2px 5px;
}
</style>